body{
    background-color: #f6fff8;;
    margin: 0;
    padding: 0;
}


@font-face {
    font-family: myFont;
    src: url('Franchise.ttf');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: Altone;
    src: url(AltoneTrial-Regular.ttf);

}


.header {
    font-family: myFont;
    font-size: 50px;
    margin: 10px 0;
    padding: 10px;
    position: relative; /* Add this */
    color:#f6fff8;
    z-index: 2; /* Add this */
}

.container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 10px 0;
    padding: 10px;
    margin-right: 20px;
    position: relative;
    font-size: larger;
    color:#f6fff8;;
    z-index: 2;
}

nav ul {
    margin: 0;
    padding: 0;
    font-family: Altone;
    display: flex;
    align-items: center; 
}

nav li {
    list-style: none;
    margin-left: 20px; 
}

.content {
    position: relative;
}

.cd {
    position: absolute;
    height: 270px;
    width: 270px;
    top: 86px;
    left: 210px;
    z-index: 3;
    animation: slideInTop 2s, rotate 2s linear infinite 2s;
    transform-origin: center center;
}

.stereo {
    position: relative;
    left: 75px;
    z-index: 2;
    height: 592px;
    width: 540px;
    animation: slideInLeft 2s;
    float: left;
}

.welcome{
    position: relative;
    color: #2E4756;
    font-family: Altone;
    font-size: 65px;
    margin-top: 230px;
    margin-left: 50%;
    z-index: 8;
}

.name{
    position: relative;
    color: #2E4756;
    font-family:myFont;
    font-size: 70px;
    margin-left: 80px; 
    margin-left: 56%;
    z-index: 8;

}

.guitar {
    position: relative;
    height: 184px;
    width: 184px;
    left: 35%;
    margin-top: -8%;
}

@keyframes slideInLeft {
    0% {
      transform: translateX(-100%);
    }
    100% {
      transform: translateX(0);
    }
  }

  @keyframes slideInTop {
    0% {
        transform: translateY(-100%); /* Start above the viewport */
    }
    100% {
        transform: translateY(0); /* End at the specified top position */
    }
    }
    @keyframes rotate {
        100% {
            transform: rotate(360deg);
        }

    }
  
  .custom-shape-divider-top-1693693950 {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1; 
    overflow: hidden;
    line-height: 0;
    animation: waveTop 5s infinite linear;
}

.custom-shape-divider-top-1693693950 svg {
    position: relative;
    display: block;
    width: calc(100% + 1.3px);
    height: 379px;
}

.custom-shape-divider-top-1693693950 .shape-fill {
    fill: #3C7A89;
}

.a {
    position: relative;
    color: #285943;
    font-family: myFont;
    font-size: 100px;
    margin-top: -400px;
    margin-left: 65%;
    animation: slideInLeft 3s;
    z-index: 4;
}

.me {
    position: relative;
    width: 189px;
    height: 252px;
    margin-left: 70%;
    margin-top: 10px;
    border: 10px solid #285943;
    animation: slideInLeft 3s;
    z-index: 4;
}


.intro{
    display: flex;
    width: 450px;
    height: 200px;
    border-radius: 25px;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    padding: 0%;
    margin-top: 32%;
    margin-left: 10%;
    background-color: #2E4756;
    position: relative;
    color: #f6fff8;;
    font-family: Altone;
    font-size: larger;
    text-align: center;
    z-index: 4;
    animation: slideRight;
    animation-duration: 4s;
}

.intro2{
    display: flex;
    width: 450px;
    height: 200px;
    border-radius: 25px;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    padding: 0%;
    margin-left: 10%;
    margin-top: 10px;
    background-color: #b7d1da;
    position: relative;
    color: #f6fff8;;
    font-family: Altone;
    font-size: larger;
    text-align: center;
    z-index: 4;
    animation: slideRight;
    animation-duration: 4s;
}

@keyframes slideRight {
    0% {
      transform: translateX(100%);
    }
    100% {
      transform: translateX(0);
    }
  }

  .cd-doodle{
    position: relative;
    height: 108px;
    width: 108px;
    margin-left: 85%;
    margin-bottom: 10px;
    top: 150px;
    z-index: 6;
    
}
.res-image {
    position: relative;
    margin-top: 20%;
    margin-left: 15%;
    border: 10px solid #2E4756;


    width: 850px;
    height: 1000px;
    z-index: 7;
}


  .custom-shape-divider-bottom-1693690961 {
    position: relative;
    bottom: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
    transform: rotate(180deg);
    z-index: 5;
}

.custom-shape-divider-bottom-1693690961 svg {
    position: relative;
    display: block;
    width: calc(163% + 1.3px);
    height: auto;
}

.custom-shape-divider-bottom-1693690961 .shape-fill {
    fill: #6b9080;
}

*{
    padding: 0;
    margin:0;
    box-sizing: border-box;
}